@font-face {
  font-family: "Montserrat", sans-serif, verdana;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap")
    format("truetype");
}

@font-face {
  font-family: "Bebas Neue", "Montserrat", "sans-serif";
  src: url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,500;1,900&display=swap")
    format("truetype");
}

input[type="name"],
input[type="email"],
input[type="adress"],
input[type="text"],
input[type="cardnumber"],
input[type="cvc-code"],
select,
textarea {
  padding: 0.75rem;
  margin: 0.3rem 0.75rem 1.2rem 0.75rem;
  border-radius: 0.25rem;
  color: rgba(205, 208, 212, 1);
  font-size: 1.2rem;
  background-color: rgba(5, 19, 30, 1);
  letter-spacing: 0.05rem;
  font-family: "Montserrat", "sans-serif", "verdana";
}

input[type="text"],
input[type="cvc-code"] {
  width: 3rem;
}

input[type="name"],
input[type="email"],
input[type="adress"],
input[type="cardnumber"],
input[type="search"],
textarea {
  width: 15rem;
}

fieldset {
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1rem;
  width: 15rem;
}

input[type="radio"] {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.5rem;
}

input[type="cvc-code"] {
  margin-top: 3rem;
}

select {
  width: 3.5rem;
  height: 3rem;
  margin: auto;
  background-color: rgba(46, 47, 49, 0.25);
}

.size {
  margin: 2rem 0rem 2rem 3.5rem;
}

.payment {
  margin: auto;
  padding: 0.8rem;
}
