@font-face {
  font-family: "Montserrat", sans-serif, verdana;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap")
    format("truetype");
}

@font-face {
  font-family: "Bebas Neue", "Montserrat", "sans-serif";
  src: url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,500;1,900&display=swap")
    format("truetype");
}

header {
  border: 5px coral solid;
  display: flex;
  flex-direction: column;
}

.logo,
nav,
.header_icons {
  margin: 1px;
  border: 2px green solid;
}

.header_icons {
  align-self: flex-end;
  text-align: right;
}

.logo {
  max-width: 250px;
  width: 100%;
  margin: auto;
}

nav,
#menu_checkbox {
  display: none;
  letter-spacing: 0.15em;
  line-height: 1.875rem;
  margin: 0.5rem;
  align-self: left;
}

nav ul {
  padding: 0px;
}

nav li {
  display: block;
  padding: 1rem 0rem;
  margin: auto;
}

nav a {
  font-size: 1.563rem;
  text-decoration: none;
  padding: 1rem;
}

.active {
  text-decoration: none;
  padding: 1rem;
}

#menu_checkbox:checked ~ nav {
  display: block;
}

/*Icons------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------*/

.fa-bag-shopping,
.fa-house,
.fa-magnifying-glass,
#menu_checkbox,
.fa-bars,
.searchbar {
  color: rgba(205, 208, 212, 1);
  font-size: 1.563rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.header_icons {
  display: none;
}

input[type="name"] {
  border-radius: 0.25rem;
  color: rgba(205, 208, 212, 1);
  font-size: 1.2rem;
  background-color: rgba(5, 19, 30, 1);
  letter-spacing: 0.05rem;
  font-family: "Montserrat", "sans-serif", "verdana";
  padding: 4px;
  width: 30%;
}
/*Media queries------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 600px) {
  header {
    flex-direction: row;
  }

  .header_icons {
    display: inline-block;
  }

  header,
  .logo,
  .navigation,
  .header_icons {
    margin: 0.5rem;
    flex-direction: column;
  }

  #menu_checkbox:enabled ~ nav li {
    margin: auto;
    display: inline-block;
  }
  #menu_checkbox,
  .fa-bars {
    display: none;
  }

  nav li {
    display: inline-block;
    flex-direction: row;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
