@font-face {
  font-family: "Montserrat", sans-serif, verdana;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap")
    format("truetype");
}

@font-face {
  font-family: "Bebas Neue", "Montserrat", "sans-serif";
  src: url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,500;1,900&display=swap")
    format("truetype");
}

/*Universal styles
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

body {
  font-family: "Montserrat", "sans-serif", "verdana";
  background-color: rgba(5, 19, 30, 1);
  color: rgba(205, 208, 212, 1);
  font-size: 1.25rem;
}

.wrap {
  max-width: 23rem;
  height: 50rem;
  padding: 0%;
  margin: auto;
}

a,
h1,
h2,
.product_price {
  font-family: "Bebas Neue", "Montserrat", "sans-serif";
  color: rgba(205, 208, 212, 1);
  text-decoration: none;
  letter-spacing: 0.15rem;
  line-height: 1.2rem;
}

h1 {
  font-size: 2.813rem;
  text-align: center;
}

h2 {
  font-size: 1.85rem;
  margin: 2.5rem 1.1rem 1rem;
  text-align: center;
}

h3,
.headline_medium {
  padding: 0%;
  font-size: 1.35rem;
  text-align: center;
}

.headline_medium {
  font-weight: bolder;
  text-align: center;
  margin: 1.5rem;
}

p {
  margin: 1rem;
}

.paragraph {
  text-align: center;
}
.paragraph_one {
  margin: auto;
  padding: 10% 2%;
}

.send_success {
  margin: 2rem 1rem;
  padding: 0.5rem;
  border: 0.3rem rgba(97, 104, 52, 1) solid;
}
/*Products*/
.product {
  background-color: rgba(46, 47, 49, 0.25);
  max-width: 100%;
  min-width: 6.25rem;
  height: auto;
  margin: 10%;
  padding: 4%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.product_name {
  font-weight: bold;
}

.product_price {
  font-size: 1.563rem;
  letter-spacing: 0.15rem;
}

.large {
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem 0rem 6rem;
  text-decoration: underline rgba(97, 104, 52, 1);
}

/*Buttons*/
.button_small,
.button_medium {
  background-color: rgba(167, 70, 46, 1);
  border-radius: 0.25rem;
  font-size: 1.563rem;
  text-align: center;
  letter-spacing: 0.15em;
}

.button_small {
  padding: 0.5rem 0.5rem;
  max-width: 3.5rem;
  margin: auto;
  margin-top: 0.7rem;
  border: rgba(130, 51, 31, 1) 0.25rem solid;
}

.button_medium {
  padding: 2rem 1.5rem;
  margin: auto;
  display: block;
  width: 12rem;
  border: rgba(130, 51, 31, 1) 0.4rem solid;
}

#checkout {
  background-color: rgba(97, 104, 52, 1);
  border: 0.4rem solid rgba(73, 79, 39, 1);
}

.button_large {
  background-color: rgba(97, 104, 52, 1);
  border: 0.4rem solid rgba(73, 79, 39, 1);
  padding: 0.5rem 1rem;
  font-size: 4.375rem;
  border-radius: 0.4rem;
  min-width: 50px;
  text-align: center;
  letter-spacing: 0.15rem;
  float: center;
}

/*Images*/
.image_banner {
  background-color: rgba(97, 104, 52, 1);
  padding: 0.5rem;
  margin: 3.3rem 0rem;
}

.image_about {
  margin: 1rem 0rem;
  background-image: url(../images/about_us_rainydays.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 10rem;
}

.Image_about_2 {
  margin: 1rem 0px;
  background-image: url(../images/About_us_2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 20rem;
}

.image_contact {
  background-image: url(../images/contact_us__blue_mountain.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 20rem;
  margin: auto;
}

.image_sortiment {
  background-image: url(../images/sortiment_main_picture.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 23rem;
  background-position-x: top;
}

.product_image {
  max-width: 100%;
  height: 10rem;
  margin: auto;
  text-align: center;
}
.image_product_in_nature {
  max-width: 100%;
  height: 26.5rem;
  margin: auto;
  margin-left: 0.5rem;
}

.image_checkout {
  background-size: contain;
  background-position-x: bottom;
  margin: 1rem 0.5rem 4rem 0.5rem;
  background-image: url(../images/checkout_glacier.jpg);
  background-repeat: no-repeat;
  max-width: 100%;
  height: 27rem;
}

.image_index_iceclimbing {
  background-image: url(../images/index_ice_climbing.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 34rem;
  margin: 1% 0%;
  text-decoration: center;
}

.image_index_man_on_mountain {
  margin: 20% 0% 5%;
  background-image: url(../images/index_man_on_mountain.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 15.5rem;
}

.image_index_jacket_closeup {
  margin: 10% 1% 5% 1%;
  background-image: url(../images/kal-visuals-Td9K-kMM4SQ-unsplash.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 34rem;
}

.fa-message-check {
  color: rgba(205, 208, 212, 1);
  font-size: 1.563rem;
}

.fa-circle-check {
  color: rgba(13, 131, 11, 1);
}

.cirkle {
  background-color: rgba(5, 19, 30, 1);
  border-radius: 90%;
  position: absolute;
  margin: 1.2rem;
  padding: 2rem 3rem;
}

.fa-cc-visa,
.fa-cc-mastercard,
.fa-cc-paypal,
.fa-cc-discover {
  font-size: 2.5rem;
  color: rgba(205, 208, 212, 1);
}

.fa-truck {
  margin: auto;
  display: flex;
  justify-content: center;
}
