@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Hw5aXo.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bebasneue/v9/JTUSjIg69CK48gW7PXoo9Wlhyw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/*Universal styles------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------*/

body {
  font-family: "Montserrat", "sans-serif", "verdana";
  background-color: rgba(5, 19, 30, 1);
  color: rgba(205, 208, 212, 1);
  font-size: 20px;
}

.index_page,
.about_us_page,
.check_out_page,
.contact_page,
.product_page,
.send_success_page,
.shoppingbag_page,
.sortiment_page {
  display: grid;
  border: 4px brown solid;
}

.index_one,
.index_two,
.index_three,
.index_four {
  grid-gap: 2px;
  display: grid;
  border: 4px palevioletred solid;
}

.wrap {
  max-width: 23rem;
  height: 50rem;
  padding: 0%;
  margin: auto;
}

a,
h1,
h2,
.product_price {
  font-family: "Bebas Neue", "Montserrat", "sans-serif";
  color: rgba(205, 208, 212, 1);
  text-decoration: none;
  letter-spacing: 0.15rem;
  line-height: 1.2rem;
}

h1 {
  font-size: 2.813rem;
  text-align: center;
}

h2 {
  font-size: 1.85rem;
  margin: 2.5rem 1.1rem 1rem;
}

h3,
.headline_medium {
  padding: 0%;
  font-size: 1.35rem;
  text-align: center;
}

.headline_medium {
  font-family: "Montserrat", "sans-serif", "verdana";
  font-weight: bolder;
  text-align: center;
  margin: auto;
}

.send_success {
  margin: 2rem 1rem;
  padding: 0.5rem;
  border: 0.3rem rgba(97, 104, 52, 1) solid;
}

p {
  margin: 1rem;
}

.paragraph_centered {
  text-align: center;
  margin-right: 10%;
}

.two {
  margin-right: 10%;
  margin-bottom: 50px;
}

.paragraph_one {
  margin: auto;
  padding: 10% 2%;
}

/*Products*------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------*/

.product {
  background-color: rgba(46, 47, 49, 0.25);
  max-width: 100%;
  min-width: 6.25rem;
  height: auto;
  margin: 10%;
  padding: 4%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.product_name {
  font-weight: bold;
}

.product_price {
  font-size: 1.563rem;
  letter-spacing: 0.15rem;
}

.large {
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem 0rem 6rem;
  text-decoration: underline rgba(97, 104, 52, 1);
}

/*Buttons------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------*/
.button_small,
.button_medium {
  background-color: rgba(167, 70, 46, 1);
  border-radius: 0.25rem;
  font-size: 1.563rem;
  text-align: center;
  letter-spacing: 0.15em;
}

.button_small {
  padding: 0.5rem 0.5rem;
  max-width: 3.5rem;
  margin: auto;
  margin-top: 0.7rem;
  border: rgba(130, 51, 31, 1) 0.25rem solid;
}

.button_medium {
  padding: 2rem 1.5rem;
  margin: auto;
  display: block;
  width: 12rem;
  border: rgba(130, 51, 31, 1) 0.4rem solid;
}

#checkout {
  background-color: rgba(97, 104, 52, 1);
  border: 0.4rem solid rgba(73, 79, 39, 1);
}

.button_large {
  background-color: rgba(97, 104, 52, 1);
  border: 0.4rem solid rgba(73, 79, 39, 1);
  padding: 0.4rem 1rem;
  font-size: 3.5rem;
  border-radius: 0.4rem;
  min-width: 50px;
  text-align: center;
  letter-spacing: 0.15rem;
  margin: 2px;
  margin-left: 18%;
}

/*Images------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------*/
.image_banner {
  background-color: rgba(97, 104, 52, 1);
  padding: 0.5rem;
  margin: 3.3rem 0rem;
  max-width: 350px;
}

.background_images {
  margin: 1rem 0rem;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 20rem;
}
.image_about {
  background-image: url(../images/about_us_rainydays.jpg);
  height: 10rem;
}

.Image_about_2 {
  background-image: url(../images/About_us_2.jpg);
}

.image_contact {
  background-image: url(../images/contact_us__blue_mountain.jpg);
}

.image_sortiment {
  background-image: url(../images/sortiment_main_picture.jpg);
  height: 23rem;
  background-position-x: top;
}

.product_image {
  max-width: 100%;
  height: 10rem;
  margin: auto;
  text-align: center;
}
.image_product_in_nature {
  height: 26.5rem;
  margin: auto;
  margin-left: 0.5rem;
}

.image_checkout {
  background-position-x: bottom;
  margin: 1%;
  background-image: url(../images/checkout_glacier.jpg);
  height: 27rem;
}

.image_index_iceclimbing {
  background-image: url(../images/index_ice_climbing.jpg);
  height: 34rem;
  margin: 1rem 0.2rem;
  display: block;
}

.image_index_man_on_mountain {
  background-image: url(../images/index_man_on_mountain.jpg);
  height: 16rem;
}

.image_index_jacket_closeup {
  margin: 10% 1% 5% 1%;
  background-image: url(../images/kal-visuals-Td9K-kMM4SQ-unsplash.jpg);
  height: 34rem;
}

.fa-message-check {
  color: rgba(205, 208, 212, 1);
  font-size: 1.563rem;
}

.fa-circle-check {
  color: rgba(13, 131, 11, 1);
}

.cirkle {
  background-color: rgba(5, 19, 30, 1);
  border-radius: 90%;
  position: absolute;
  margin: 1.2rem;
  padding: 2rem 3rem;
}

.fa-cc-visa,
.fa-cc-mastercard,
.fa-cc-paypal,
.fa-cc-discover {
  font-size: 2.5rem;
  color: rgba(205, 208, 212, 1);
}

.fa-truck {
  margin: auto;
  display: flex;
  justify-content: center;
}

/*Layout sections------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------*/
.index_one,
.index_two,
.index_three,
.index_four {
  width: 350px;
  margin: auto;
}

@media only screen and (min-width: 500px) {
  .index_page,
  .about_us_page,
  .check_out_page,
  .contact_page,
  .product_page,
  .send_success_page,
  .shoppingbag_page,
  .sortiment_page {
    display: grid;
    border: 4px orangered solid;
  }

  .headline_medium {
    font-size: 25px;
    margin-bottom: 35px;
  }

  .index_one,
  .index_two,
  .index_three,
  .index_four {
    grid-gap: 2px;
    display: grid;
    border: 4px palevioletred solid;
  }

  /*index-page ----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------*/

  .paragraph_centered {
    font-size: 22px;
    margin-right: 8%;
  }

  /*index two, three and four*/
  .index_one,
  .index_two,
  .index_three,
  .index_four {
    width: 450px;
    display: block;
    margin: auto;
    background-size: contain;
  }

  /*index one*/

  .image_index_iceclimbing {
    margin-left: 7%;
    height: 36rem;
  }

  /*Banner and button*/
  .image_banner {
    max-width: 500px;
  }

  .button_large {
    margin-left: 25%;
    margin-right: 0%;
  }

  /*index two*/
  .image_index_man_on_mountain {
    height: 20rem;
    margin: auto;
  }

  /*paragraph*/
  .two {
    margin-right: 5%;
    margin-bottom: 50px;
  }

  /*index four*/
  .image_index_jacket_closeup {
    margin-top: 10px;
    background-size: cover;
  }
}

@media only screen and (min-width: 600px) {
  .index_page,
  .about_us_page,
  .check_out_page,
  .contact_page,
  .product_page,
  .send_success_page,
  .shoppingbag_page,
  .sortiment_page {
    display: grid;
    border: 4px rgb(48, 154, 211) solid;
  }
  /*Layout sections*/
  .index_one,
  .index_two,
  .index_three,
  .index_four {
    width: 580px;
  }

  /*index-page ----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------*/

  .paragraph_centered {
    margin-right: 32%;
  }

  /*index one*/

  /*Image*/
  .image_index_iceclimbing {
    height: 40rem;
    margin-left: 13%;
  }

  /*paragraph*/
  .one {
    margin-right: 4%;
  }

  /*Banner and button*/
  .image_banner {
    max-width: 684px;
  }

  .button_large {
    margin-left: 32%;
  }

  /*index two*/

  .index_two {
    margin: auto;
  }

  .image_index_man_on_mountain {
    height: 24rem;
    margin: auto;
  }

  /*index three*/

  /*paragraph*/
  .two {
    margin-right: 5%;
    margin-bottom: 50px;
  }
  /*index four*/
  .index_four {
    margin: auto;
  }
  .image_index_jacket_closeup {
    height: 30rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/*Products*/

@media only screen and (min-width: 768px) {
  .index_page,
  .about_us_page,
  .check_out_page,
  .contact_page,
  .product_page,
  .send_success_page,
  .shoppingbag_page,
  .sortiment_page {
    display: grid;
    border: 4px green solid;
  }

  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 992px) {
  .index_page,
  .about_us_page,
  .check_out_page,
  .contact_page,
  .product_page,
  .send_success_page,
  .shoppingbag_page,
  .sortiment_page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border: 4px purple solid;
  }
  /*index-page ----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------*/

  /*Layout sections*/
  .index_one,
  .index_three {
    width: 500px;
    margin: auto;
  }

  .index_two,
  .index_four {
    width: 600px;
    margin: auto;
  }

  /*index one*/
  .image_index_iceclimbing {
    background-size: cover;
    margin: 1px;
  }

  .button_large {
    margin-left: 29%;
  }

  /*index two*/
  .index_two {
    height: 400px;
  }

  .image_index_man_on_mountain {
    height: 30rem;
    margin: auto;
  }

  /*paragraph*/
  .two {
    line-height: 40px;
  }

  /*index three*/
  .index_three {
    margin-top: 15%;
  }

  .headline_medium {
    font-size: 25px;
    margin-bottom: 35px;
  }

  /*index four*/
  .index_four {
    height: 600px;
  }

  .image_index_jacket_closeup {
    height: 40rem;
  }

  /*products*/
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1200px) {
  .index_page,
  .about_us_page,
  .check_out_page,
  .contact_page,
  .product_page,
  .send_success_page,
  .shoppingbag_page,
  .sortiment_page {
    display: grid;
    border: 4px yellow solid;
  }
}
